#logo-area {
    padding-right: 3%;
    float: left;
    width: 15%;
}

#logo {
    width: 100%;
}

header {
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: 1.2vw;
    color: #272727;
    padding: 1%;
    float: left;
    width: 100%;
    background-color: #6FA054;
    border-bottom-style: solid;
    border-bottom-color: #272727;
    border-bottom-width: 4px;
    margin-bottom: 1%;
}

header a {
    margin: 0;
}

.logged-header{
    float: left;
    width: 85%;
}

.not-logged-header{
    float: left;
    width: 85%;
}

.bar-item {
    color: #272727;
    /*
    padding-left: 2%;
    padding-right: 2%;
    */
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1%;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
}
/*
.not-logged-header .bar-item {
    width: 18.5%;
}

.logged-header .bar-item {
    width: 14%;
}
*/
.bar-item:hover {
    border-bottom-style: solid;
    border-bottom-color: #CFDDD9;
    border-bottom-width: 3px;
    color: #CFDDD9;
}